apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  namespace: resilient-mesh
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: gateway-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DOWNSTREAM_BASE_URLS
              value: "http://orders-service:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: resilient-mesh
spec:
  selector:
    app: gateway-service
  ports:
    - port: 80
      targetPort: 8080
  type: ClusterIP
