apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-service
  namespace: resilient-mesh
spec:
  replicas: 2
  selector:
    matchLabels:
      app: orders-service
  template:
    metadata:
      labels:
        app: orders-service
    spec:
      containers:
        - name: orders-service
          image: orders-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SERVICE_NAME
              value: "orders-service"
            - name: CHAOS_PROBABILITY
              value: "0.3"
            - name: MAX_EXTRA_LATENCY_MS
              value: "1500"
---
apiVersion: v1
kind: Service
metadata:
  name: orders-service
  namespace: resilient-mesh
spec:
  selector:
    app: orders-service
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
