server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

downstreams:
  orders:
    base-urls: ${DOWNSTREAM_BASE_URLS:http://localhost:9090}

resilience4j:
  circuitbreaker:
    instances:
      orders:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
  retry:
    instances:
      orders:
        maxAttempts: 3
        waitDuration: 200ms
